doctype html
html
    head
        title Create a Game Value
    body
        form(action="/game-value" method="POST")
            input(type="text" name="g8" placeholder="u")
            input(type="text" name="g8bridge" placeholder="p")
            input(type="text" name="setValue" placeholder="action" )
            input(type="integer" name="sid" placeholder="sid" )
            input(type="integer" name="IdGame" placeholder="eid")
            input(type="integer" name="leg" placeholder="leg" )
            input(type="integer" name="pid" placeholder="pid" )
            input(type="text" name="lid" placeholder="lid")
            input(type="text" name="VisitorOdds" placeholder="vml")
            input(type="text" name="HomeOdds" placeholder="hml" )
            input(type="text" name="TotalOver" placeholder="ttl")
            input(type="text" name="OverOdds" placeholder="tov" )
            input(type="text" name="UnderOdds" placeholder="tun" )
            input(type="text" name="VisitorSpread" placeholder="vsd")
            input(type="text" name="VisitorSpreadOdds" placeholder="vso" )
            input(type="text" name="HomeSpread" placeholder="hsd" )
            input(type="text" name="HomeSpreadOdds" placeholder="hso" )
            input(type="text" name="VisitorSpecialOdds" placeholder="draw")

            input(type="submit" value="Save")